<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests">
    <test name="WordPress UI Automation - ios">
        <parameter name="platformType" value="mobile"/>
        <parameter name="platformName" value="ios"/>
        <parameter name="model" value="IPHONESE"/>
        <classes>
            <class name="tests.Wordpress_Mobile_Test"/>
        </classes>
    </test>
    <test name="WordPress UI Automation - android">
        <parameter name="platformType" value="mobile"/>
        <parameter name="platformName" value="android"/>
        <parameter name="model" value="Pixel"/>
        <classes>
            <class name="tests.Wordpress_Mobile_Test"/>
        </classes>
    </test>
    <test name="WordPress UI Automation - web">
        <parameter name="platformType" value="web"/>
        <parameter name="platformName" value="chrome"/>
        <classes>
            <class name="tests.Wordpress_Mobile_Test"/>
        </classes>
    </test>
</suite>
